body{
    background-color: black;
    padding: 0px;
    margin: 0px;
}
.container{
    position: absolute;
    width: 940px;
    height: 100%;
    background-color: white;
    left: 50%;
    transform: translate(-50%);
}

#headerContainer{
    display: flex;
    flex-direction: row;
    background-color: brown;
    justify-content: space-between;
    height: 100px;
}

#headerLogo{
    height: 100%;
    width: 30%;
    background-color: aqua; 
}

#navBar{
    display: flex;    
    width: 70%;
    height: 100%;
    flex-direction: column;
}

#menuOptions{  
    width: 100%;
    height: 50%;    
}

#menuOptions ul{
    position: absolute;
    display: flex;
    flex-direction: row;
    right: 0px;
    list-style: none;
}
#menuOptions ul li{
    margin-left: 30px;
}

#navBar img{
    position: absolute;
    top: 0px;    
    right: 0px;
}

#bag{
    width: 100%;
    height: 50%;
}

#bag img{
    position: absolute;
}